<form [formGroup]="paymentForm" >
  <div class="form-group">
    <label for="exampleInputEmail1">Payment for month</label>
    <input type="readonly" class="form-control" id="exampleInputEmail1"  placeholder="Payment Month">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Amount</label>
    <input type="text" class="form-control" id="amount" name="amount" formControlName="amount"  placeholder="Please enter amount">
    <div *ngIf="paymentForm.controls['amount'].touched && !paymentForm.controls['amount'].valid" >
      <span *ngIf="paymentForm.controls['amount'].hasError('required')">
        Please enter amount.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Mode of Payment</label>
    <input type="text" class="form-control"  id="modeofpayment"  name="modeofpayment" formControlName="modeofpayment"  placeholder="Enter mode of payment">
    <div *ngIf="paymentForm.controls['modeofpayment'].touched && !paymentForm.controls['modeofpayment'].valid" >
      <span *ngIf="paymentForm.controls['modeofpayment'].hasError('required')">
        Please enter mode of payment.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Transcation Id</label>
    <input type="text" class="form-control" id="transid" name="transid" formControlName="transid"  placeholder="Enter transcation id">
    <div *ngIf="paymentForm.controls['transid'].touched && !paymentForm.controls['transid'].valid" >
      <span *ngIf="paymentForm.controls['transid'].hasError('required')">
        Please enter transcation id.
      </span>
    </div>
  </div>
  <button type="submit" (click)="payform(paymentForm)" [disabled]="paymentForm.invalid" class="btn btn-primary">Submit</button>
</form>