<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Mobile Number</th>
      <th *ngFor="let productid of productIds">{{products[productid].productName}}</th>
      <th>Total Bill</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mobileNumber of mobileNumbers">
      <td>{{mobileNumber.mobileNumber}}</td>
      <td *ngFor="let productid of productIds">
        <span>
          <app-product-bill [product]="deliveredProductsData[mobileNumber.mobileNumber][productid]"></app-product-bill>
        </span>           
      </td>
      <th>{{monthBill(mobileWiseData[mobileNumber.mobileNumber])}}
        <button><a routerLink="payments">Pay</a> </button>
      </th>
    </tr>
  </tbody>
</table>
